/.idea
/files/CV (Kevin Suedmersen).synctex.gz
/files/CV (Kevin Suedmersen).out
/files/CV (Kevin Suedmersen).aux
/files/CV (Kevin Suedmersen).log
/files/CVPicture.jpg
/files/Signature V1.png
/files/CV (Kevin Suedmersen).tex
