/.idea
/files/CV_Kevin_Suedmersen.aux
/files/CV_Kevin_Suedmersen.dvi
/files/CV_Kevin_Suedmersen.out
/files/CV_Kevin_Suedmersen.synctex.gz
/files/CV_Kevin_Suedmersen
/files/CV_Pic_Kevin_Suedmersen_cropped.jpg

